.banner {
  height: 300px;
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), asset-url("stockspines.png");
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner h2 {
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 5px;
  opacity: .9;
  text-shadow: .5px .5px 1px white ;
}

.banner h4 {
  font-size: 25px;
  font-weight: bolder;
  padding-top: 60px;
  opacity: .9;
}
.ads-bar {
  background-color: black;
  // background-color: #242F3E;
  color: white;
  width: 400px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 3px;
}
