.banner {
  // height: 350px;
  background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), asset-url("stockspines.png");
  background-size: cover;
  height: 50vh;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner h2 {
  font-size: 35px;
  padding-bottom: 5px;
  opacity: .9;
  text-shadow: .5px .5px 1px white ;
  font-family: "Times New Roman", Times, serif;
}

.ads-bar {
  background-color: black;
  // background-color: #242F3E;
  color: white;
  width: 400px;
  padding: 5px;
  border-radius: 3px;
  margin-top: 3px;
}

.video-title {
  background-color: black;
  // background-color: #242F3E;
  color: white;
  width: 500px;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 30px;
}

.background-color {
  background-color: #EFF0F1;
  padding-top: 10px
}

