.navbar-bookstore {
  background-color: transparent!important;
  transition: 0.5s;
}

.navbar-bookstore-black {
  background-color: white!important;
}

.navbar-bookstore-black a {
  color: black!important;
  transition:0.5s;
}

.navbar-bookstore a {
  color: white;
}
