.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color:#F5F5F5;
}

.scrollmenu img {
  height: 190px;
  border-radius: 2px;
}

.scrollmenu a:hover {
  background-color: #777;
}

.books-category {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
.books-category a {
  color: black;
}
.white-bar {
  height: 40px;
}
