.book-description {
  // margin-left: 10px;
  // padding-left: 20px;
  padding-bottom: 30px;
  font-family: 'Roboto mono';
}

#book-image-show {
  width: 200px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.book-image-show-circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.pimp-btn {
  border-radius: 15px;
  border: 2px solid;
}

.pimp-btn a {
  color: black;
  text-decoration: none;
}

.btn-outline-secondary{
  margin-bottom: 25px;
  margin-left: 25px;
}

